* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  font-size: 14px;
  width: 100%;
}

.container {
  width: 1440px;
  width: 80%;
  margin: 0 auto;
}

.wrapper {
  width: 1440px;
  width: 70%;
  margin: 50px auto;
}

.border-bottom--active {
  border-bottom: 2px solid #d93c23;
}

.header__menu ul li a:hover {
  border-bottom: 2px solid #d93c23;
}

.icon {
  position: relative;
}

.has_mess {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #d93c23;
  bottom: 0;
  right: 0;
}

.btn__post {
  display: flex;
  background-color: #d93c23;
  color: #ffffff;
  height: 30px;
  width: 90px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}

.before-dot::before {
  content: " • ";
  opacity: 1;
}

.menu ul li:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007882;
  width: 7rem;
  height: 1.75rem;
  color: #ffffff;
  border-radius: 32px;
}

.translate_50-50 {
  transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
  .container {
    padding: 10px;
    margin: 0;
    min-width: 100%;
    box-sizing: border-box;
  }

  .wrapper {
    padding: 10px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }
}
